ion-toolbar{
    --background:#D37A63;
}

ion-content{
    --background:#E7E7E7;
}

ion-searchbar{
    --color: black;
    --icon-color: black;
    --placeholder-color: black;
    --placeholder-opacity: 0.8;
    --background: #A4A2A2;
    --box-shadow: 20px solid;
}