<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
      <ion-back-button defaultHref="/home"></ion-back-button>  <!-- go back to admin page -->
    </ion-button>
    </ion-buttons>
    <ion-title slot="start">About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider color="#E7E7E7">
    <ion-card-content class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-text>
            <h2><b> Your Online Thrift Store </b></h2>
          </ion-text>
        </ion-col>
      </ion-row>
        <ion-col>
          <img width="200" src="../../assets/logo.png" >
        </ion-col>
      <ion-row>
        <ion-col>
          In January 2022, a tiny business that has just recently begun to grow. This company's goal is to supply customers with a diverse selection of high-quality used things.
        </ion-col>
      </ion-row>
    </ion-card-content>
</ion-item-divider>

<ion-card-content>

  <ion-row>
    <ion-col>
      Why us?
    </ion-col>
  </ion-row>

  <div class="ion-text-center"no-padding>
    <img width="80" src="../../assets/affordable.png">
  </div>
  <div class="ion-text-center" no-padding>
    Affordable
  </div>
  
  <ion-row>
    <ion-col class="ion-text-start">
      <img width="80" src="../../assets/affordable.png">
      <div padding>
        Affordable
      </div>
    </ion-col>
    <ion-col class="ion-text-end">
      <img width="80" src="../../assets/affordable.png">
    </ion-col>
  </ion-row>

  <div class="ion-text-center">
    <img width="80" src="../../assets/affordable.png">
  </div>
  <div class="ion-text-center">
    Affordable
  </div>
   
</ion-card-content>

  
    
 
</ion-content>





