<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
      <ion-back-button defaultHref="/admin"></ion-back-button> <!-- go back to admin page -->
    </ion-button>
    </ion-buttons>
    <ion-title>Shipments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- recent -->
  <ion-text>
    <h1>Recent Shipment Status</h1>
  </ion-text>

  <br>

  <!-- 2 box -->
  <div id="box1">2 items out for delivery</div>
  <div id="box2">1 item pending</div>

  <br>

  <!-- status -->
  <div id="status">
    <br>
    <!-- stat1 -->
    <div id="stat1">
      <ion-text>#N2453</ion-text>
      <br>
      Status: DELIVERED
      <br>
      Shawl Collar Tailored Blazer 
      <br>
      Payment Status: PAID
      <br>
      Runner: Khairul
      <br><br>
    </div>
    
    <br><br>

    <!-- stat2 -->
    <div id="stat2">
      <ion-text>#N2454</ion-text>
      <br>
      Status: PENDING
      <br>
      New Balance Sneaker
      <br>
      Payment Status: PENDING
      <br>
      Runner: Khairul
      <br> <br>
    </div>

    <br><br>

    <!-- stat3 -->
    <div id="stat3">
      <ion-text>#N2455</ion-text>
      <br>
      Status: DELIVERED
      <br>
      Brown Tote Bag 
      <br>
      Payment Status: PAID
      <br>
      Runner: Rahmah

      <br> <br>
    </div>

  </div>





</ion-content>
