<ion-app>
  <!--sidebar menu for user-->
  <ion-menu menuId="main-menu" content-id="main"> <!--create menu id here-->
    <ion-header> <!--header start-->
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar> 
    </ion-header> <!--header end-->

    <ion-content> <!--content start-->
      <!--create list-->
      <ion-list lines="none">
        <ion-item> <!--item 1-->
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label (click)="toHome()">Home</ion-label>
        </ion-item>

        <ion-item> <!--item 2-->
          <ion-icon name="grid-outline"  slot="start"></ion-icon>
          <ion-label (click)="toCategories()">Categories</ion-label>
        </ion-item>

        <ion-item> <!--item 3-->
          <ion-icon name="code-outline" slot="start"></ion-icon>
          <ion-label (click)="aboutUs()">About Us</ion-label>
        </ion-item>

        <!--item 4-->
        <ion-item lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label (click)="settings()">Settings</ion-label>
          <ion-icon slot="end" [name]="isRemainder? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </ion-item>
  
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
              Promotional Code
              <!-- guna when creating settings page -->
              <!-- <ion-icon name="chevron-forward-outline" id="setting1"></ion-icon> -->
            </ion-item>
  
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
            [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
           Delivery Information
           <!-- guna when creating settings page -->
            <!-- <ion-icon name="chevron-forward-outline" id="setting2"></ion-icon> -->
          </ion-item>
  
          <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
            [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
            Payment Information
            <!-- guna when creating settings page -->
            <!-- <ion-icon name="chevron-forward-outline" id="setting3"></ion-icon>  -->
          </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item> <!--item 5-->
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label (click)="logout()">Log Out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content> <!--content end-->
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet> <!--create id here-->
  <ion-router-outlet id="main1"></ion-router-outlet> <!--create id here-->

</ion-app>