#btn {

    position: relative;
    width:200px;
    margin:auto;
    margin: top 20%;;

}

ion-content{
    --background:#fcfbf4;
     
  }

  ion-card{
    --background:#fcfbf4;
     
  }
  
  ion-toolbar{
    --background: #d37a63;
  }
  
  ion-tab-bar{
    --background: #d37a63;
  }