<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">EDIT ACCOUNT</ion-title>
  </ion-toolbar>
</ion-header><br>

<ion-content [fullscreen]="true" >
<form>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-avatar class="round-image">
          <img  [src]="base64" />
        </ion-avatar>
        
    
        <ion-row>
          <ion-col>
            <button (click)="pickImageFromGallery()">
              <p>Change Profile Photo</p>
            </button>    
          </ion-col>
        </ion-row>
      
      </ion-col>
    </ion-row>   
  </ion-grid>
  
  

    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username:</ion-label>
              <ion-input ngModel type="text" name="text"  required></ion-input>   
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email:</ion-label>
              <ion-input ngModel type="email" name="email" #emailCtrl="ngModel" required email></ion-input>   
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <ion-label class="errorMsg">Should be a valid email address</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Phone Number:</ion-label>
              <ion-input ngModel type="number" name="phoneno"  required ></ion-input>  

            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
</ion-grid>

  
  <ion-grid class="ion-text-center">
    <ion-button icon-left color="secondary" (click)="onEditProfile()">Save</ion-button>
  </ion-grid>

</form>
</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button tab="cart">
    <ion-icon name="cart"></ion-icon>
    <ion-label>My Cart</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="upload">
    <ion-icon name="heart"></ion-icon>
    <ion-label>Wishlist</ion-label>
  </ion-tab-button>


  <ion-tab-button tab="home">
    <ion-icon name="home" [routerLink]="'/home'"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="payment">
    <ion-icon name="card" [routerLink]="'/payment'"></ion-icon>
    <ion-label>Payment</ion-label>
  </ion-tab-button>

 
  <ion-tab-button tab="about">
    <ion-icon name="person-circle" [routerLink]="'/profile'"></ion-icon>
      <ion-label>Me</ion-label>
  </ion-tab-button>
</ion-tab-bar>