ion-content{
    // --background:linear-gradient(#f4decb, #a87e62, #3a2317) ;
    --background:#fcfbf4;
   
     
  }

 

  ion-card{
    --background:#fcfbf4;
     
  }
  
  ion-toolbar{
    --background: #d37a63;
  }
  
  ion-tab-bar{
    --background: #d37a63;
  }

  .round-image {
    width: 100px;
    height: 100px;
   margin: auto;
  //  --border-radius: 50%;
  //  overflow: hidden;
    
   }
  