<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Go Thrifting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div><ion-input type="text"><ion-searchbar type="text" placeholder="Search"></ion-searchbar></ion-input></div>

  
    <ion-card-content class="ion-text-center">
      <img style="width: 190px; height: 90px; display: inline-block; margin: 25px 10px;" src="../../assets/sport.jpg" alt="">
      <img style="width: 190px; height: 90px; display: inline-block; margin: 25px 10px;" src="../../assets/sale.jpg" alt="">
      <img style="width: 190px; height: 90px; display: inline-block; margin: 25px 10px;" src="../../assets/sneakers.webp" alt="">
    </ion-card-content>
 
</ion-content>





<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>My Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upload">
      <ion-icon name="camera" [routerLink]="'/upload'"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>

  
    <ion-tab-button tab="home">
      <ion-icon name="home" [routerLink]="'/home'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payment">
      <ion-icon name="card"></ion-icon>
      <ion-label>Payment</ion-label>
    </ion-tab-button>

   
    <ion-tab-button tab="about">
      <ion-icon name="person-circle" [routerLink]="'/profile'"></ion-icon>
        <ion-label>Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>