<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Go Thrifting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


    <ion-searchbar  type="text" placeholder="Search" animated="true"></ion-searchbar>

  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img  src="../../assets/sports.jpg" alt="">
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <img  src="../../assets/discount.jpg" alt="">
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <img  src="../../assets/sneakers.webp" alt="">
      </ion-card>
    </ion-slide>    
      </ion-slides><br><br>

      <h4 class="ion-text-center">CATEGORIES</h4>
     

    <div class="middleBox">
      <div class="first">
        <button>
          <img  src="../../assets/apparel.jpg" alt="">
          <p>Apparels</p>
        </button>  
        </div>

        <div class="second">
          <button>
            <img   src="../../assets/pants.jpg" alt="">
            <p>Pants</p>
          </button>
      </div>

      <div class="forth">
        <button>
          <img   src="../../assets/accessories.jpg" alt="">
          <p>Accessories</p>
        </button>   
    </div>
     
    </div>

    <div class="middleBox">
      <div class="third">
        <button>
          <img   src="../../assets/shoe.jpg" alt="">
          <p>Shoes</p>
        </button>   
    </div>

    <div class="forth">
      <button>
        <img   src="../../assets/bags.jpg" alt="">
        <p>Bags</p>
      </button>   
  </div>

  
    </div>
  

</ion-content>

  


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>My Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upload">
      <ion-icon name="heart" [routerLink]="'/upload'"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

  
    <ion-tab-button tab="home">
      <ion-icon name="home" [routerLink]="'/home'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payment">
      <ion-icon name="card" [routerLink]="'/payment'"></ion-icon>
      <ion-label>Payment</ion-label>
    </ion-tab-button>

   
    <ion-tab-button tab="about">
      <ion-icon name="person-circle" [routerLink]="'/profile'"></ion-icon>
        <ion-label>Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
