ion-toolbar{
    --background:#D37A63;
}

ion-content{
    --background:#E7E7E7;
}

ion-card{
    --background: #444348;
}
h3{
    color: white;
    margin-left: 20px;
}
h2{
    color: white;
}
.myAvatar{
    display: flex;
    width: 100%; height: 70px;
}
.names{
    display: block;
    width: 70%; height: 50px;
    margin-top: 10px; margin-left: 10px;
}
.proname{
    font-size: 20px;
}
ion-avatar{
    margin-top: 10px;
}
#newPost {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

#newPost ion-button {
    --border-radius: 50px;
    height: 65px; width: 65px;
    --background: #B388FF;
    color: black; font-size: 18px;
    padding: 0;
}


